$primary: #f3f6ec;
$secondary: #516c56;
$info: #e5b779;
$dark: #b3b3b3;

$headings-font-weight: 400;

$h1-font-size: 2.2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.5rem;

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 3.5,
  6: $spacer * 4,
);

$btn-close-color: #f3f6ec;

main {
  background-image: url("../../images/Wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/bootstrap";
